[Add] Incomplete validation for email

Complete gibberish with @ in the middle is allowed to be entered as email. 

![Screenshot 2025-04-11 at 5.01.23 PM.png](https://raw.githubusercontent.com/xinnnyeee/pe/main/files/a4e7e79c-569e-4c54-b28d-f931a2441656.png)


<!--session: 1744359756488-4452cb35-394e-457c-b48a-077452aa83c1--><!--Version: Desktop v3.6.1-->

[IMPORTANT!: Please do not edit or reply to this comment using the GitHub UI. You can respond to it using CATcher during the next phase of the PE]
# Team's Response
Thank you for the report. We had previously considered this issue and ultimately decided to allow this format. This is because we have decided to have our email validation logic be able to accept RFC 5322 email addresses, which deems this email syntactically valid.

According to the RFC 5322 Section 3.4.1 ruleset [as seen here: https://datatracker.ietf.org/doc/html/rfc5322#section-3.4.1], 
![image.png](https://raw.githubusercontent.com/nus-cs2103-AY2425S2/pe/master/files/617a510b-5b7f-42f1-b816-9d38a2dbb9a8.png)
the seemingly nonsensical 23jkhds@isdfds email is deemed syntactically valid. 

We initially considered rejecting this issue. However, we do understand that this is a possible future enhancement for the program that may improve it further.

According to the `NotInScope` rules,
![image.png](https://raw.githubusercontent.com/nus-cs2103-AY2425S2/pe/master/files/34c2727b-897f-474e-9634-368f2ad4e885.png)

The software 'fails gracefully', and the better email format would take more effort than the current implementation, this qualifies for `NotInScope`.

Hence, we propose to classify this problem under the `NotInScope` umbrella.
# Items for the Tester to Verify
## :question: Issue response

Team chose [`response.NotInScope`]

- [ ] I disagree

**Reason for disagreement:** [replace this with your explanation]

<catcher-end-of-segment><hr>
## :question: Issue severity

Team chose [`severity.Low`]
Originally [`severity.Medium`]

- [ ] I disagree

**Reason for disagreement:** [replace this with your explanation]

<catcher-end-of-segment><hr>
